<div class="jumbotron">

  <h1>Welcome! I'm Lewis.</h1>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 img-box">
      <!-- 
<img src="images/angular.png" />
-->
      <img src="images/Lewis.png" />
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 text-box">
      <h2>A little about me : </h2>
      <p class="lead">Developer, Physics enthusiast, Ambassador of logic and reason, Web Development, Mobile Apps, Artist, Mountain Biker, Rock Climber, Gamer, Nerd.</p>
    </div>
  </div>

  <a href="#/projects" class="btn btn-lg btn-success" role="button">See what I'm working on!</a>
</div>


<div class="row">
  <div class="col-sm-6 col-md-4">

    <div class="panel shadow-z-2 panel-material-purple">
      <div class="panel-heading">
        <h3 class="panel-title">What I'm working on</h3>
      </div>
      <div class="homepage-panel panel-body">
        <p>Wanna see what I'm doing right now? </p>
        <p>My past work? </p>
        <p>Even my future projects!? </p>
        <p>I got your back little fella. </p>

      </div>
      <div class="home-card panel-footer">
        <a href="#/projects" class="btn btn-material-purple btn-fab btn-raised mdi-editor-format-list-bulleted"></a>
      </div>
    </div>

  </div>
  <div class="col-sm-6 col-md-4">


    <div class="panel shadow-z-2 panel-material-green">
      <div class="panel-heading">
        <h3 class="panel-title">
          <!--<s>I don't have much to say..</s>-->
          Micro-blog coming soon!
        </h3>
      </div>
      <div class="homepage-panel panel-body">
        <!-- <s> <p>I wont pretend to have the dedication to keep a regular blog, but every now and again I have a little something to say about interesting things, check out my micro blog?</p>
<p>Or not, whatever.</p></s>
-->
      </div>
      <div class="home-card panel-footer">
        <!-- <a href="#/blog" class="btn btn-material-green btn-fab btn-raised mdi-av-my-library-books"></a> -->
        <a disabled class="btn btn-material-green btn-fab btn-raised mdi-av-my-library-books"></a>
      </div>
    </div>


  </div>
  <div class="col-sm-12 col-md-4">

    <div class="panel shadow-z-2 panel-material-orange">
      <div class="panel-heading">
        <h3 class="panel-title">Touch base</h3>
      </div>
      <div class="homepage-panel panel-body">
        <p>I've worked with an diverse range of companies and communities. </p>
        <p>So if you have a project you'd like me to be a part of or even just need some free advice, hit me up.</p>

      </div>
      <div class="home-card panel-footer">
        <a ng-click="main.open();" class="btn btn-material-orange btn-fab btn-raised mdi-communication-quick-contacts-mail"></a>
      </div>
    </div>

  </div>
</div>

